
/target/
=======
# IntelliJ
/out/
# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
*.pydevproject
.settings/
.classpath
.metadata
.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# Locally stored "Eclipse launch configurations"
*.launch


# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# STS (Spring Tool Suite)
.springBeans

# Gradle:
.idea/gradle.xml
.idea/libraries

# Maven
log/
target/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Java annotation processor (APT)
.factorypath

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Others
wildfly/
scripts/

